PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

DATABASE_URL=

AUTH0_DOMAIN=
AUTH0_AUDIENCE=
AUTH0_ISSUER_BASE_URL=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

RESEND_API_KEY=
EMAIL_FROM=
ADMIN_EMAIL=